@import "normalise"
@import "slick"
@import "animate"

@font-face
  font-family: 'English'
  src: url('../fonts/English1766-ThinWEB.woff') format('woff'),url('../fonts/English1766-ThinWEB.woff2') format('truetype')
  font-weight: 100
  font-style: normal

@font-face
  font-family: 'Grot'
  src: url('../fonts/Grot10_RegularWEB.woff') format('woff'),url('../fonts/Grot10_RegularWEB.woff2') format('truetype')
  font-weight: 300
  font-style: normal

//colors
$main: #1D1D1B
$text: #1D1D1B
$sage: #273D2D
$lowry: #004F9E
$regent: #F5A623

*
  box-sizing: border-box
body
  font-family: 'English', Georgia
  font-weight: 100
  color: $text
  // letter-spacing: .5px
  background: white
a
  text-decoration: none
  color: inherit
p
  color: $text

  font-size: 16px
  line-height: 24px
  margin: 0 0 1.5em
  font-weight: 400
  &:last-child
    margin-bottom: 0
  &.big
    font-size: 32px
    line-height: 44px
    letter-spacing: .5px
    margin: 0
  &.medium
    font-size: 24px
    line-height: 34px
    letter-spacing: .5px
    margin: 0
  &.indent
    text-indent: 4em
h1, h3, h4, h5, h6
  font-family: 'Grot', Helvetica, sans-serif
  font-weight: 400
  margin: 0
  padding: 0

h1
  font-weight: 400
  font-size: 100px

h2
  font-size: 26px
  line-height: 34px
  letter-spacing: 1px
  font-weight: 400
  margin-top: 0
h3
  font-size: 20px
  line-height: 24px
  letter-spacing: 1px
  font-weight: 400

h4
  font-size: 16px
  line-height: 18px

  letter-spacing: 1px
  font-weight: 300
  margin: 0
  margin-bottom: .25em
  padding: 0
  text-transform: uppercase
h5
  font-size: 15px
  // margin: 0 0 10px
  font-weight: 100
  line-height: 16px
  letter-spacing: .8px
h6
  letter-spacing: .8px
  a
    text-decoration: underline
header.header
  background: white
  position: fixed
  width: 100%
  left: 0
  top: 0
  right: 0
  z-index: 10
  height: 90px
  box-shadow: 0 0px 9px rgba(0,0,0,0.3)
article.main
  margin: 120px 144px 0 auto
  // padding: 1em
.menu
  height: 90px
  padding: 0 2em

.big-logo, .small-logo
  opacity: 0
  transition: .3s all ease-out
  position: relative
.small-logo
  top: 15px
  display: block
  &.logo-active
    opacity: 1
    top: 0
    top: -11px


.big-logo
  top: -15px
  &.logo-active
    opacity: 1
    top: 16px


.mb
  margin-bottom: 1rem
.mb--big
  margin-bottom: 2rem
.mb--huge
  margin-bottom: 6rem
.all-caps
  text-transform: uppercase

$tab-width: 780px
$tab-header: 48px

.tab-container
  &.sage--active
    .tab--sage
      right: $tab-header * 2
    .tab--lowry
      right: -1 * ($tab-width - ($tab-header * 2))
    .tab--regent
      right: -1 * ($tab-width - ($tab-header * 1))
  &.lowry--active
    .tab--sage
      right: $tab-header * 2
    .tab--lowry
      right: $tab-header * 1
    .tab--regent
      right: -1 * ($tab-width - ($tab-header * 1))
  &.regent--active
    .tab--sage
      right: $tab-header * 2
    .tab--lowry
      right: $tab-header * 1
    .tab--regent
      right: 0
.tab
  position: fixed
  width: $tab-width
  top: 90px
  bottom: 0
  right: 0
  color: white

  transition: .4s all ease-out
  cursor: pointer
  header:hover
    margin-right: 4px
  h5
    color: white
    line-height: $tab-header
    padding-left: $tab-header / 2

  article
    position: absolute
    left: $tab-header
    width: calc(100% - $tab-header)
    top: 0
    bottom: 0
    right: 0
    padding: 3em 1em 1em
    overflow: auto
  .tab-image
    margin: 0 2em 2em 0
.tab--sage
  background: $sage
  right: -1 * ($tab-width - ($tab-header * 3))
  z-index: 1
  p
    color: white
.tab--lowry
  background: $lowry
  right: -1 * ($tab-width - ($tab-header * 2))
  z-index: 2
  p
    color: white
.tab--regent
  background: $regent
  right: -1 * ($tab-width - ($tab-header * 1))
  z-index: 3
  color: $main !important
  h5
    color: $main

.tab--header
  width: 410px
  transform: rotate(90deg)
  position: absolute
  top: 0
  left: 0
  margin-top: 183px
  margin-left: -184px
  &.tab--header-second
    margin-top: 610px

.tab-container .tab:hover
  margin-right: 3px

.tab-container.sage--active .tab:hover , .tab-container.lowry--active .tab:hover, .tab-container.regent--active .tab:hover
  margin-right: 0


.close-tab
  position: absolute
  right: 21px
  z-index: 34
  top: 17px
  font-size: 12px
  text-transform: uppercase
  letter-spacing: 1px
  opacity: .8
  svg
    top: 1px
    position: relative

.flip
  transform: rotate(90deg)



.button, button[type="submit"], input[type="submit"]
  display: inline-block
  font-size: 16px
  border: 1px $main solid
  background: $main
  padding: 1em 2em
  text-align: center
  color: white
  text-decoration: none
  transition: .7s all
  cursor: pointer
  font-family: 'Grot'
  &.filled
    background: $main
    color: white
    border: none
  &.small
    padding: .75em 1.5em
  &:hover
    background: rgba(0,0,0,.7)
.full-width
  display: block
  width: 100%

.container
  max-width: 1400px
  padding: 1.5em
  margin: 0 auto
  width: 100%
  &.container--small
    max-width: 800px
.cf:before,.cf:after
  content: " "
  display: table
.cf:after
  clear: both
.cf
  *zoom: 1
  &.container--full
    padding: 0
    max-width: none



.fll
  float: left
.flr
  float: right
.ta-right
  text-align: right
.ta-center
  text-align: center
.flex
  display: flex
  flex-wrap: wrap
  justify-content: start

  .one
    flex: 1
    // margin-right: 2%
    justify-content: space-around
    &:last-of-type
      margin-right: 0
  .two
    flex: 2
    max-width: 350px
  .three
    flex: 3
    img
      max-width: 100%
  &.flex-middle
    align-items: center

.social
  font-size: 20px

  &.space-group-small
    margin-bottom: .25em
h6.space-group-small
  margin-bottom: .25em

.relative
  position: relative

.carousel
  img
    margin-right: 2em
    padding-right: 1.5em
.carousel-buttons
  position: absolute
  right: 12.5%
  top: 50%
  transform: translateY(-50%)
  z-index: 9999999


label
  display: block
  margin-bottom: 1em
input, textarea
  padding: 14px
  display: block
  // width: 100%
  border: 1px #ccc solid
  // margin-bottom: 1em
  font-size: 20px
  font-family: 'English', Helvetica, sans-serif

.www
  background: url(../images/www.png)
  height: 9px
  width: 100%
  margin: 4em 0 2em
.www-white
  background: url(../images/www-white.png)
  height: 9px
  width: 100%
  margin: 4em 0 2em


.block-center
  display: block
  margin: 0 auto
  text-align: center

.six.center
  width: 50%
  margin: 0 auto
.quotes
  margin: 2em 0
  &:first-of-type
    margin-top: 4em
.space-group
  margin-bottom: 2em

.space-group-small
  margin-bottom: 1em
.compress
  margin-bottom: .5em
.f-left
  float: left
.m-r
  margin-right: .5em

@media (max-width: 769px)

@media (max-width: 600px)
  .flex
    display: block

  .one, .two
    margin-bottom: 1.5em


  p.big
    font-size: 20px
    line-height: 26px

@media (max-width: 500px)
  h3
    font-size: 15px
    line-height: 20px

h1
  line-height: 105px
  width: auto
  font-size: 140px
